*,
*::before,
*::after {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: 14px;
  /*   color: #222; */
}

body {
  margin: 0;
}

table {
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid #ccc;
}

td,
th {
  padding: 3px;
}

table thead {
  /* color: #444; */
  background-color: #e3eef2;
  font-weight: normal;
}

table thead th {
  font-weight: normal;
}

th:not(:first-child) {
  min-width: 70px;
}

tbody tr:hover td:first-child {
  background-color: #a3dcef;
}

tr td:first-child {
  text-align: center;
  background-color: #e3eef2;
}

.activeCell,
.activeTitle {
  box-shadow: 0 0 0 1px #444 inset;
}