*,
*::before,
*::after {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid #ccc;
}

td:not(:first-child),
th:not(:first-child) {
  /* width: 70px; */
  min-width: 70px;
  height: 23px;
  min-height: 23px;
  max-height: 23px;
  max-width: 70px;
  white-space: nowrap;
}

table thead {
  background-color: #e3eef2;
  font-weight: normal;
}

table thead th {
  font-weight: normal;
}

tr td:first-child {
  text-align: center;
  background-color: #e3eef2;
  padding-left: 5px;
  padding-right: 5px;
}

.active-cell {
  box-shadow: 0 0 0 1px #444 inset;
}

.input-item {
  width: 67px;
  border: none;
  height: 20px;
}

#column-search {
  width: 10%;
  text-align: center;
}

#column-search:focus {
  text-align: left;
}

#mirror {
  width: 90%;
}

.input-group {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #8a8d8e;
  border-top: 1px solid #8a8d8e;
  background-color: #e3eef2;
}

.input-group input {
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
}