*,
*::before,
*::after {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 31px;
}

table,
td,
th {
  border: 1px solid #ccc;
}

th:not(:first-child) {
  height: 23px;
  overflow: hidden;
}

td:not(:first-child) {
  min-width: 70px;
  max-width: 70px;
  height: 23px;
  white-space: nowrap;
  overflow: hidden;
}

table thead {
  background-color: #e3eef2;
  font-weight: normal;
}

table thead th {
  font-weight: normal;
}

tr td:first-child {
  text-align: center;
  background-color: #e3eef2;
  padding-left: 5px;
  padding-right: 5px;
}

.active-cell {
  box-shadow: 0 0 0 1px #444 inset;
}

.input-item {
  width: 67px;
  border: none;
  height: 20px;
  outline: none;
  /* padding-left: 3px; */
}

#column-search {
  width: 10%;
  text-align: center;
}

#column-search:focus {
  text-align: left;
}

#mirror {
  width: 90%;
}

.input-group {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #8a8d8e;
  border-top: 1px solid #8a8d8e;
  background-color: #e3eef2;
  z-index: 1;
}

.input-group input {
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}